/* global.css */
 
/* ============================= */
/* RESET & BASE STYLES           */
/* ============================= */
.title{
  color: #17324d;;
}

 
/* ============================= */
/* LAYOUT CONTAINER              */
/* ============================= */
.container {
  
  margin: 2.5rem auto;
  background: #F2F7FC;
  padding: 2rem 2.5rem;
  border-radius: 12px;
 
  transition: box-shadow 0.3s ease;
}
 

 
/* ============================= */
/* TYPOGRAPHY                    */
/* ============================= */

 
/* ============================= */
/* BUTTONS                       */
/* ============================= */

/* ============================= */
/* FORM ELEMENTS                 */
/* ============================= */


 
/* ============================= */
/* SECTION BOX     stondato               */
/* ============================= */
.section-box {
  margin-top: 1.5rem;
  padding: 2rem 2rem;
  border: 1px solid #e0e0e0;

}

.pattern-container {
  background-image: var(--pattern-background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}

/* ============================= */
/* PATTERN DI SFONDO PAGINA      */
/* ============================= */


/* global.css */
 
/* ============================= */
/* RESET & BASE STYLES           */
/* ============================= */
.title{
  color:#2F475E;
}

.titlename{
  color: #0066cc !important;
}
 
/* ============================= */
/* LAYOUT CONTAINER              */
/* ============================= */


 
/* ============================= */
/* TYPOGRAPHY                    */
/* ============================= */

 
/* ============================= */
/* BUTTONS                       */
/* ============================= */

/* ============================= */
/* FORM ELEMENTS                 */
/* ============================= */


 
/* ============================= */
/* SECTION BOX     stondato               */
/* ============================= */
.section-box {
  margin-top: 1.5rem;
  padding: 2rem 2rem;
  border: 1px solid #e0e0e0;

}

.section-box-user {
  margin-top: 1.5rem;
  padding: 1.2rem 1.5rem;
 

}

.pattern-container {
  background-image: var(--pattern-background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}

/* ============================= */
/* PATTERN DI SFONDO PAGINA      */
/* ============================= */
